<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 well">
    	<%= nested_form_for @gallery, html: { multipart: true }  do |f| %>
        <fieldset>
        <!-- Form Name -->
        <legend>Edit Gallery</legend>
        
        <div class="form-group">
          <%= f.label :tournament_id  %>
          <%= f.collection_select :tournament_id, Tournament.all, :id, :name, { :prompt => "Please Select a Tournament" }, { class: 'form-control' } %>
        </div>

        <%= f.fields_for :gallery_images do |build| %>

        <div class="form-group">
          <% if build.object.photo? %>
            <%= build.label :photo  %><br>
            <%= image_tag build.object.photo.url :gallery_thumb %>

          <% else %>
            <%= build.label :photo %>
            <%= build.file_field :photo %>
          <% end %>

        </div>
        <%= build.link_to_remove "Remove this Photo" %>
        <% end %>

        <%= f.link_to_add "Add a Photo", :gallery_images %>
        <div class="form-group">
			    <%= f.submit 'Submit', :class => 'btn btn-success' %>
			  </div>

          </fieldset>
        <% end %>
      </div>
     </div>
    </div>
